.modalwindow {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modalwindow .content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 3px solid #000;
  width: 80%;
  height: auto;
  overflow: visible;
}

legend {
  font: normal 4em arial, sans-serif;
  text-align: center;
  margin: 50px;
  border-bottom: 0px solid rgb(61, 122, 64);
}

form div {
  border-bottom: 0px solid rgb(94, 94, 94);
  height: 125px;
  text-align: center;
  padding: 20px;
}

label {
  font: normal 1em arial, sans-serif;
  display: block;
}

input[type='text'] {
  margin-top: 20px;
  padding: 10px;
  display: inline;
  border: 1px solid #000;
}

input[type='text']:hover, input[type='text']:focus {
  outline: none;
}

input[type='text'] {
  display: inline;
  position: relative;
  top: 0;
  right: 0;
  width: auto;
}

input[type='button'] {
  font-size: 1.6em;
  margin: .5em 4em .5em 0;
  padding: 20px;
}
