html, body{
  background-color: #333;
}

.game{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board{
  display: flex;
  background-color: #ccc;
  border: 2px solid #999;
  width: 180px;
  height: 180px;
  flex-wrap: wrap;
}

.board li{
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.board li.alive{
  background-color: #000;
}

button{
	margin: 5px;
}
