html, body{
  background-color: #614dff
}

.game{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #999;
  width: 180px;
  height: 180px;
  background-color: #7f7fd1; 
}

.board li{
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.board li.alive{
  background-color: #000;
}

button{
	margin: 6px;
  background-color: #7f7fd1; 
  border-radius: 20px;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 24px;
  width: auto;
  cursor: pointer;
}

h1{
  font: normal 5em arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 2px;
  display: block;
}

